<div class="container">

  <div class="menu">
    {{#link-to "index"}}
    <h1>
      <em>Guitar Store</em>
    </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "about" class="menu-about"}}
      Add Guitar
      {{/link-to}}
      {{#link-to "test" class="menu-about"}}
      Test
      {{/link-to}}
      {{#link-to "contact" class="menu-contact"}}
      Contact
      {{/link-to}}
      {{#link-to "add-person" class="menu-about"}}
      Add Person
      {{/link-to}}
      <a {{action "handleLogout" }}>Log Out</a>
    </div>
  </div>

  <div class="body">
    {{outlet}}
  </div>

</div>